In [1]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
# Banco de Dados
df =  pd.read_excel('../Datasets/Larissa/Matriz completa - Larissa MD04.xlsx')

In [3]:
df

,Código Master,Experimento,Vaca,Periodo/semana,Tratamento (T1. T2. T3...),Produção de leite,Consumo de MS,Consumo de PB,Consumo de FDN,Consumo de Amido,...,4034543.0,4030686.0,4026829.0,4022972.0,4019115.0,4015258.0,4011401.0,4007544.0,4003686.0,3999829.0
0,101.0,1.0,ALECRIM,6.0,CTRL,20.37,16.48,0.1687,0.3380,0.2658,...,0.775131,0.777423,0.779469,0.781222,0.782549,0.783471,0.784162,0.784716,0.785100,0.785345
1,102.0,1.0,ANETE,6.0,CTRL,33.93,26.24,0.1688,0.3380,0.2660,...,0.760934,0.763464,0.765777,0.767687,0.769158,0.770315,0.771266,0.772049,0.772618,0.772928
2,103.0,1.0,CLARA,6.0,LEV,26.57,21.75,0.1692,0.3379,0.2657,...,0.748163,0.750467,0.752453,0.754095,0.755418,0.756398,0.757085,0.757622,0.758047,0.758270
3,104.0,1.0,CLARIS,6.0,CTRL,19.46,21.71,0.1690,0.3381,0.2658,...,0.784709,0.787248,0.789560,0.791529,0.793087,0.794269,0.795096,0.795635,0.796030,0.796286
4,105.0,1.0,DARYA,6.0,CTRL,27.40,19.41,0.1690,0.3380,0.2658,...,0.785893,0.788334,0.790448,0.792254,0.793745,0.794902,0.795749,0.796361,0.796812,0.797160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,554.0,5.0,NANDI,12.0,CTL,43.2,33.62,0.1535,0.3730,0.3316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,555.0,5.0,OPERETA,12.0,CTL,26.8,26.20,0.1534,0.3733,0.3317,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,556.0,5.0,PORANGA,12.0,CTL,20.3,20.59,0.1535,0.3730,0.3317,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,557.0,5.0,SOLANGE,12.0,HYD,30.6,24.55,0.1536,0.3731,0.3316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,558.0,5.0,TRINKET,12.0,HYD,23.2,20.13,0.1535,0.3731,0.3313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cols = [i for i in range(23, 2226)]

In [5]:
# Leitura em DataFrame com colunas específicas
df =  pd.read_excel('Datasets/Larissa/Matriz completa - Larissa MD04.xlsx', usecols=cols)

In [6]:
df

,12493199.0,12489342.0,12485485.0,12481628.0,12477771.0,12473913.0,12470056.0,12466199.0,12462342.0,12458485.0,...,4034543.0,4030686.0,4026829.0,4022972.0,4019115.0,4015258.0,4011401.0,4007544.0,4003686.0,3999829.0
0,0.686458,0.683910,0.681005,0.682385,0.687912,0.690693,0.687556,0.682651,0.681231,0.683037,...,0.775131,0.777423,0.779469,0.781222,0.782549,0.783471,0.784162,0.784716,0.785100,0.785345
1,0.658517,0.660127,0.661341,0.663315,0.664639,0.664055,0.660349,0.655337,0.653616,0.654614,...,0.760934,0.763464,0.765777,0.767687,0.769158,0.770315,0.771266,0.772049,0.772618,0.772928
2,0.687373,0.685893,0.687533,0.689194,0.690112,0.690191,0.688474,0.685606,0.683855,0.683804,...,0.748163,0.750467,0.752453,0.754095,0.755418,0.756398,0.757085,0.757622,0.758047,0.758270
3,0.686180,0.685498,0.686096,0.687771,0.687481,0.684123,0.680639,0.679495,0.679285,0.678423,...,0.784709,0.787248,0.789560,0.791529,0.793087,0.794269,0.795096,0.795635,0.796030,0.796286
4,0.684966,0.683662,0.686932,0.691391,0.691930,0.690160,0.689059,0.687234,0.684881,0.684526,...,0.785893,0.788334,0.790448,0.792254,0.793745,0.794902,0.795749,0.796361,0.796812,0.797160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#define function to calculate cv
cv = lambda x: np.std(x) / np.mean(x) * 100

In [8]:
df.apply(cv)

12493199.0    6.179145
12489342.0    6.231384
12485485.0    6.276874
12481628.0    6.288382
12477771.0    6.288462
                ...
4015258.0     4.563898
4011401.0     4.565470
4007544.0     4.566837
4003686.0     4.568863
3999829.0     4.568386
Length: 2203, dtype: float64

In [9]:
df

,12493199.0,12489342.0,12485485.0,12481628.0,12477771.0,12473913.0,12470056.0,12466199.0,12462342.0,12458485.0,...,4034543.0,4030686.0,4026829.0,4022972.0,4019115.0,4015258.0,4011401.0,4007544.0,4003686.0,3999829.0
0,0.686458,0.683910,0.681005,0.682385,0.687912,0.690693,0.687556,0.682651,0.681231,0.683037,...,0.775131,0.777423,0.779469,0.781222,0.782549,0.783471,0.784162,0.784716,0.785100,0.785345
1,0.658517,0.660127,0.661341,0.663315,0.664639,0.664055,0.660349,0.655337,0.653616,0.654614,...,0.760934,0.763464,0.765777,0.767687,0.769158,0.770315,0.771266,0.772049,0.772618,0.772928
2,0.687373,0.685893,0.687533,0.689194,0.690112,0.690191,0.688474,0.685606,0.683855,0.683804,...,0.748163,0.750467,0.752453,0.754095,0.755418,0.756398,0.757085,0.757622,0.758047,0.758270
3,0.686180,0.685498,0.686096,0.687771,0.687481,0.684123,0.680639,0.679495,0.679285,0.678423,...,0.784709,0.787248,0.789560,0.791529,0.793087,0.794269,0.795096,0.795635,0.796030,0.796286
4,0.684966,0.683662,0.686932,0.691391,0.691930,0.690160,0.689059,0.687234,0.684881,0.684526,...,0.785893,0.788334,0.790448,0.792254,0.793745,0.794902,0.795749,0.796361,0.796812,0.797160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
cof_variacao = df.apply(cv)

In [11]:
cof_variacao = pd.DataFrame(cof_variacao)

In [12]:
cof_variacao

                   0
12493199.0  6.179145
12489342.0  6.231384
12485485.0  6.276874
12481628.0  6.288382
12477771.0  6.288462
...              ...
4015258.0   4.563898
4011401.0   4.565470
4007544.0   4.566837
4003686.0   4.568863
3999829.0   4.568386

[2203 rows x 1 columns]

In [13]:
cof_variacao = cof_variacao.reset_index()

In [14]:
cof_variacao.rename({'index':'Comprimento de onda', 0:'Coeficiente de variação'}, axis=1, inplace=True)

In [ ]:
cof_variacao.to_excel('larissa_coef_variacao_comprimento_onda.xlsx', index=False)