In [99]:
import pandas as pd
import numpy as np

In [100]:
df_sensor = pd.read_excel("../../Datasets/Lazaro/Novos dados/T3.xlsx")

In [101]:
df_behavior = pd.read_excel("../../Datasets/Lazaro/Novos dados/comp.visual.T3.xlsx")

## Formating sensor data

In [102]:
df_sensor

,Data,Hora,ax,ay,az,gx,gy,gz,axc,ayc,azc
0,20/11/2022 (Domingo),08:55:44,11588,-5316,14517,5200,947,790,0.707275,-0.324463,0.886047
1,20/11/2022 (Domingo),08:55:46,8252,-7593,10239,65,-2168,-714,0.503662,-0.463440,0.624939
2,20/11/2022 (Domingo),08:55:47,3799,-3755,14927,-630,1433,365,0.231873,-0.229187,0.911072
3,20/11/2022 (Domingo),08:55:48,7439,-7147,11812,-2801,-3232,-1113,0.454041,-0.436218,0.720947
4,20/11/2022 (Domingo),08:55:49,6072,-10617,10289,4611,3331,1286,0.370605,-0.648010,0.627991
...,...,...,...,...,...,...,...,...,...,...,...
28482,20/11/2022 (Domingo),17:07:25,2216,444,16227,402,157,355,0.135254,0.027100,0.990417
28483,20/11/2022 (Domingo),17:07:26,2509,393,15785,355,-169,103,0.153137,0.023987,0.963440
28484,20/11/2022 (Domingo),17:07:27,2944,-1164,15973,1275,-163,-130,0.179688,-0.071045,0.974915
28485,20/11/2022 (Domingo),17:07:28,2744,557,15746,377,-219,-62,0.167480,0.033997,0.961060
28486,20/11/2022 (Domingo),17:07:29,3480,823,16595,995,425,259,0.212402,0.050232,1.012878

In [103]:
df_sensor.Data = df_sensor.Data.str.rstrip(' (Domingo)')

In [104]:
df_sensor

,Data,Hora,ax,ay,az,gx,gy,gz,axc,ayc,azc
0,20/11/2022,08:55:44,11588,-5316,14517,5200,947,790,0.707275,-0.324463,0.886047
1,20/11/2022,08:55:46,8252,-7593,10239,65,-2168,-714,0.503662,-0.463440,0.624939
2,20/11/2022,08:55:47,3799,-3755,14927,-630,1433,365,0.231873,-0.229187,0.911072
3,20/11/2022,08:55:48,7439,-7147,11812,-2801,-3232,-1113,0.454041,-0.436218,0.720947
4,20/11/2022,08:55:49,6072,-10617,10289,4611,3331,1286,0.370605,-0.648010,0.627991
...,...,...,...,...,...,...,...,...,...,...,...
28482,20/11/2022,17:07:25,2216,444,16227,402,157,355,0.135254,0.027100,0.990417
28483,20/11/2022,17:07:26,2509,393,15785,355,-169,103,0.153137,0.023987,0.963440
28484,20/11/2022,17:07:27,2944,-1164,15973,1275,-163,-130,0.179688,-0.071045,0.974915
28485,20/11/2022,17:07:28,2744,557,15746,377,-219,-62,0.167480,0.033997,0.961060
28486,20/11/2022,17:07:29,3480,823,16595,995,425,259,0.212402,0.050232,1.012878

In [105]:
df_sensor['Date'] = df_sensor['Data'].astype(str)  + ' ' + df_sensor['Hora'].astype(str)

In [106]:
df_sensor.drop(['Data', 'Hora'], axis=1, inplace=True)

In [107]:
df_sensor.Date = pd.to_datetime(df_sensor.Date, infer_datetime_format=True)

In [108]:
df_sensor

,ax,ay,az,gx,gy,gz,axc,ayc,azc,Date
0,11588,-5316,14517,5200,947,790,0.707275,-0.324463,0.886047,2022-11-20 08:55:44
1,8252,-7593,10239,65,-2168,-714,0.503662,-0.463440,0.624939,2022-11-20 08:55:46
2,3799,-3755,14927,-630,1433,365,0.231873,-0.229187,0.911072,2022-11-20 08:55:47
3,7439,-7147,11812,-2801,-3232,-1113,0.454041,-0.436218,0.720947,2022-11-20 08:55:48
4,6072,-10617,10289,4611,3331,1286,0.370605,-0.648010,0.627991,2022-11-20 08:55:49
...,...,...,...,...,...,...,...,...,...,...
28482,2216,444,16227,402,157,355,0.135254,0.027100,0.990417,2022-11-20 17:07:25
28483,2509,393,15785,355,-169,103,0.153137,0.023987,0.963440,2022-11-20 17:07:26
28484,2944,-1164,15973,1275,-163,-130,0.179688,-0.071045,0.974915,2022-11-20 17:07:27
28485,2744,557,15746,377,-219,-62,0.167480,0.033997,0.961060,2022-11-20 17:07:28
28486,3480,823,16595,995,425,259,0.212402,0.050232,1.012878,2022-11-20 17:07:29

In [109]:
df_sensor = df_sensor.set_index(['Date'])

In [110]:
df_sensor

,ax,ay,az,gx,gy,gz,axc,ayc,azc
Date,,,,,,,,,
2022-11-20 08:55:44,11588,-5316,14517,5200,947,790,0.707275,-0.324463,0.886047
2022-11-20 08:55:46,8252,-7593,10239,65,-2168,-714,0.503662,-0.463440,0.624939
2022-11-20 08:55:47,3799,-3755,14927,-630,1433,365,0.231873,-0.229187,0.911072
2022-11-20 08:55:48,7439,-7147,11812,-2801,-3232,-1113,0.454041,-0.436218,0.720947
2022-11-20 08:55:49,6072,-10617,10289,4611,3331,1286,0.370605,-0.648010,0.627991
...,...,...,...,...,...,...,...,...,...
2022-11-20 17:07:25,2216,444,16227,402,157,355,0.135254,0.027100,0.990417
2022-11-20 17:07:26,2509,393,15785,355,-169,103,0.153137,0.023987,0.963440
2022-11-20 17:07:27,2944,-1164,15973,1275,-163,-130,0.179688,-0.071045,0.974915
2022-11-20 17:07:28,2744,557,15746,377,-219,-62,0.167480,0.033997,0.961060
2022-11-20 17:07:29,3480,823,16595,995,425,259,0.212402,0.050232,1.012878

## Formating behavior data

In [111]:
df_behavior.head()

    Horario Comportamento
0  08:55:44     Ruminação
1  09:03:33         Outro
2  09:03:39       Pastejo
3  09:35:19          Ocio
4  09:44:34         Cocho

In [112]:
df_behavior.rename(columns={'Horario':'Date'}, inplace=True)

In [113]:
df_behavior.Date = '2022-11-20 ' + df_behavior.Date.astype('str')

In [114]:
df_behavior.head()

                  Date Comportamento
0  2022-11-20 08:55:44     Ruminação
1  2022-11-20 09:03:33         Outro
2  2022-11-20 09:03:39       Pastejo
3  2022-11-20 09:35:19          Ocio
4  2022-11-20 09:44:34         Cocho

In [115]:
df_behavior.Date = pd.to_datetime(df_behavior.Date, infer_datetime_format=True)

In [116]:
df_behavior.set_index(['Date'], inplace=True)

## Data Integration

In [129]:
df = df_sensor.copy(deep=True)

In [130]:
df['Comportamento'] = ''

In [146]:
df

,ax,ay,az,gx,gy,gz,axc,ayc,azc,Comportamento
Date,,,,,,,,,,
2022-11-20 08:55:44,11588,-5316,14517,5200,947,790,0.707275,-0.324463,0.886047,Ruminação
2022-11-20 08:55:46,8252,-7593,10239,65,-2168,-714,0.503662,-0.463440,0.624939,Ruminação
2022-11-20 08:55:47,3799,-3755,14927,-630,1433,365,0.231873,-0.229187,0.911072,Ruminação
2022-11-20 08:55:48,7439,-7147,11812,-2801,-3232,-1113,0.454041,-0.436218,0.720947,Ruminação
2022-11-20 08:55:49,6072,-10617,10289,4611,3331,1286,0.370605,-0.648010,0.627991,Ruminação
...,...,...,...,...,...,...,...,...,...,...
2022-11-20 17:07:25,2216,444,16227,402,157,355,0.135254,0.027100,0.990417,Ruminação
2022-11-20 17:07:26,2509,393,15785,355,-169,103,0.153137,0.023987,0.963440,Ruminação
2022-11-20 17:07:27,2944,-1164,15973,1275,-163,-130,0.179688,-0.071045,0.974915,Ruminação
2022-11-20 17:07:28,2744,557,15746,377,-219,-62,0.167480,0.033997,0.961060,Ruminação
2022-11-20 17:07:29,3480,823,16595,995,425,259,0.212402,0.050232,1.012878,

In [138]:
date

Timestamp('2022-11-20 17:07:29')

In [140]:
df.loc[date, 'Comportamento']

''

In [144]:
df_behavior.shape

(53, 1)

In [145]:
i = 0
limit = df_behavior.shape[0] - 1
for date in df.index:
    found_interval = False
    while(not(found_interval) and i < limit):
        if(date >= df_behavior.index[i] and date < df_behavior.index[i+1]):
            df.loc[date, 'Comportamento'] = df_behavior.iloc[i].Comportamento
            found_interval = True
        else:
            i +=1

In [147]:
df.to_csv('novosDadosComComportamentos.csv')